@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: auto;
  margin: 0 auto;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  body {
  }
}
